/* Color Theme Swatches in Hex */
/*.UI/UX-1-hex { color: #0339A6; }
.princpal { color: #1755A6; }
.UI/UX-3-hex { color: #6A9AD9; }
.destaque { color: #91B7D9; }
.background { color: #D9985F; }

